page-about {
ion-content{
    background-image:url(https://k31.kn3.net/taringa/8/2/6/0/9/1/6/aramos1974/888.jpg?8301);
    background-size:cover;
}
p{
    color:whitesmoke
}
h2{
    color:whitesmoke
}
}
